/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

/* Texto "Personagem RARO" acima da carta */
.raro-indicador {
    font-size: 1.5em;
    color: gold;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Classe oculta para esconder o texto quando o personagem não é raro */
.oculto {
    display: none;
}

.carta {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    transition: all 0.3s ease;

}

/* Estilo das cartas raras com borda dourada */
.carta.rara {
    border: 5px solid gold;

}

.canto {
    position: absolute;
    font-size: 1.5em;
}

#supEsq {
    top: 10px;
    left: 10px;
}

#infDir {
    bottom: 10px;
    right: 10px;
}

.centro img {
    width: 100%;
    /* A imagem preenche todo o retângulo */
    height: 100%;
    object-fit: cover;
    /* Cobre o retângulo sem distorcer a proporção */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}